/*Background */
body{
position: relative;
width: 1920px;
height: 1080px;

/* Outros - grad */
background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);

}

.welcome{
position: absolute;
width: 273px;
height: 75px;
left: 296px;
top: 94px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 75px;

/* Secundária */
color: #E0E0E0;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Please, register to continue */
.continue{
position: absolute;
width: 301px;
height: 24px;
left: 304px;
top: 169px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Secundária */
color: #E0E0E0;


}

/* Rectangle Name */
input#inputName{

z-index: 0;
box-sizing: border-box;

position: absolute;
width: 379px;
height: 60px;
left: 388px;
top: 266px;

background: #26292C;
border: 1px solid #FFFFFF;
border-radius: 50px;
}

/* Your first name */
input#inputName::placeholder{

position: absolute;
width: 84px;
height: 15px;
left: 5%;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #E0E0E0;
}

/* first name Label */
label#name{

position: absolute;
width: 75px;
height: 20px;
left: 296px;
top: 285px;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #E0E0E0;
}

/* Rectangle Last Name */
input#inputLast{

box-sizing: border-box;

position: absolute;
width: 379px;
height: 60px;
left: 388px;
top: 344px;

background: #26292C;
border: 1px solid #FFFFFF;
border-radius: 50px;
}

/* Your last name */
input#inputLast::placeholder{

position: absolute;
width: 83px;
height: 15px;
left: 5%;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #E0E0E0;
}

/* last name Label */
label#last{

position: absolute;
width: 73px;
height: 20px;
left: 296px;
top: 361px;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #E0E0E0;
}

/* Rectangle Birth Date */
input#inputDate{

box-sizing: border-box;

position: absolute;
width: 379px;
height: 60px;
left: 388px;
top: 422px;

background: #26292C;
border: 1px solid #FFFFFF;
border-radius: 50px;

}

/* MM/DD/YYYY */
input#inputDate::placeholder{

position: absolute;
width: 75px;
height: 15px;
left: 5%;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #E0E0E0;
}

/* birth date Label */
label#date{

position: absolute;
width: 73px;
height: 20px;
left: 298px;
top: 440px;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #E0E0E0;
}

/* Rectangle Country */
input#inputCountry{

box-sizing: border-box;

position: absolute;
width: 379px;
height: 60px;
left: 388px;
top: 500px;

background: #26292C;
border: 1px solid #FFFFFF;
border-radius: 50px;
}

/* Your Country */
input#inputCountry::placeholder{

position: absolute;
width: 72px;
height: 15px;
left: 5%;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #E0E0E0;
}

/* Country Label */
label#country{

position: absolute;
width: 59px;
height: 20px;
left: 298px;
top: 518px;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #E0E0E0;
}

/* Rectangle City */
input#inputCity{
box-sizing: border-box;

position: absolute;
width: 379px;
height: 60px;
left: 388px;
top: 578px;

background: #26292C;
border: 1px solid #FFFFFF;
border-radius: 50px;
}

/* Your City */
input#inputCity::placeholder{

position: absolute;
width: 50px;
height: 15px;
left: 5%;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #E0E0E0;
}

/* City Label */
label#city{

position: absolute;
width: 29px;
height: 20px;
left: 298px;
top: 596px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #E0E0E0;
}

/* Rectangle email */
input#inputEmail{

box-sizing: border-box;

position: absolute;
width: 379px;
height: 60px;
left: 390px;
top: 656px;

background: #26292C;
border: 1px solid #FFFFFF;
border-radius: 50px;
}

/* A valid e-mail here */
input#inputEmail::placeholder{

position: absolute;
width: 105px;
height: 15px;
left: 5%;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #E0E0E0;
}

/* e-mail Label*/
label#email{

position: absolute;
width: 47px;
height: 20px;
left: 298px;
top: 678px;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #E0E0E0;
}

/* Rectangle Password */
input#inputPassword{
box-sizing: border-box;

position: absolute;
width: 379px;
height: 60px;
left: 390px;
top: 734px;

background: #26292C;
border: 1px solid #FFFFFF;
border-radius: 50px;

}

/* Your password */
input#inputPassword::placeholder{

position: absolute;
width: 83px;
height: 15px;
left: 5%;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #E0E0E0;
}

/* password Label */
label#password{

position: absolute;
width: 74px;
height: 20px;
left: 298px;
top: 756px;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #E0E0E0;
}

/* Rectangle Confirm Password */
input#inputConfirm{

box-sizing: border-box;

position: absolute;
width: 379px;
height: 60px;
left: 390px;
top: 812px;

background: #26292C;
border: 1px solid #FFFFFF;
border-radius: 50px;
}

/* Comfirm your password */
input#inputConfirm::placeholder{

position: absolute;
width: 133px;
height: 15px;
left: 5%;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #E0E0E0;
}

/* password confirm Label */
label#confirm{

position: absolute;
width: 74px;
height: 20px;
left: 298px;
top: 834px;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #E0E0E0;
}

/* Notebook */
img#background{

position: absolute;
width: 960px;
height: 1080px;
left: 960px;
top: 0px;
}

/* Logo */
img#logo{

position: absolute;
width: 484px;
height: 66px;
left: 1198px;
top: 36px;
}

/* Register Now */
button#register{

box-sizing: border-box;

position: absolute;
width: 379px;
height: 67px;
left: 333px;
top: 968px;

/* Outros - grad */
background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
border-radius: 50px;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;

cursor: pointer;
color: #FFFFFF;
}

/* Already have an account? Log in here. */
a{
position: absolute;
width: 288px;
height: 16px;
left: 378px;
top: 1039px;

font-family: "Mulish", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-decoration: none;

color: #F22E07;
}