* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

html body {
  width: 1920px;
  height: 1080px;
}

.container-all {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 1920px;
  height: 1080px;
}

header {
  width: 1893px;
  height: 169px;
}
header img {
  position: absolute;
  width: 150px;
  height: 42.75px;
  left: 40px;
  top: 25px;

  background: url(LogoCompasso.png);
}

.hora {
  position: absolute;
  width: 327px;
  height: 169px;
  left: 796px;
  top: 0px;
}

.temp {
  position: absolute;
  width: 121px;
  height: 78px;
  left: 1758px;
  top: 25px;
}

.bola {
  position: absolute;
  width: 825px;
  height: 825px;
  left: -233px;
  top: 232px;

  background: url(bola-LogoCompasso.png);
}

footer {
  position: absolute;
  width: 1920px;
  height: 100px;
  left: 0px;
  bottom: -1px;

  background: linear-gradient(90deg, #212221 0%, #1c1d20 100%);
}
